.menuWrapper {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  top: -100vh;
  left: 0;
  right: 0;
  background: {
    color: var(--headerBackground);
  }
  z-index: 10;

  .list {
    list-style-type: none;
    text-align: center;
    font: {
      size: 26px;
    }

    .listItem {
      letter-spacing: 2px;

      a {
        display: block;
        padding: 10px 20px;
      }
    }
  }

  .buttonsWrapper {
    display: flex;
    flex-direction: column;
    min-width: 120px;
    margin: {
      top: 10px;
    }
    gap: 20px;
  }

  .themeSwitchWrapper {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
}
