.container {
  display: flex;
  flex: {
    direction: column;
  }
  align: {
    items: center;
  }

  .pitch {
    background-color: green;
    width: 400px;
    min-height: 400px;
    position: relative;

    .player {
      background: {
        color: red;
      }
      border: {
        radius: 50%;
      }
      line-height: 50px;
      width: 50px;
      text-align: center;
    }
  }
}
