.backdrop {
  position: fixed;
  top: 50%;
  width: 100vw;
  background-color: var(--backdropColor);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  transform: translateY(-50%);
  z-index: 20;

  .modal {
    position: absolute;
    min-height: 200px;
    width: calc(100% - 40px);
    display: flex;
    justify-content: center;
    align-items: center;
    border: {
      radius: 4px;
    }
    background: {
      color: var(--headerBackground);
    }
    z-index: 30;

    .closeIconWrapper {
      position: absolute;
      top: 10px;
      right: 10px;
      width: 20px;
      display: flex;
      align-items: center;

      .closeIcon {
        fill: var(--logoFill);
      }
    }
  }
}
